/* -----------------------------------------------------------------GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
     background-color: rgba(180, 242, 225, 0.377);
     font-family: 'Roboto', sans-serif;   
}

.container{
    width: 600px;
    margin: auto;
}
/*-------------------------------------------------------------------HEADER   */
.main-heading{
    font-family:'Fugaz one', cursive;
    text-align: center;
    color: #EB6383;
    text-shadow: 2px 2px #FA9191;
    letter-spacing: 2px;
    font-size: 3rem;
}

.icons-container{
width: 20%;
margin: auto;
}
.icons{
    width: 30%;
    display: flex;
    font-size: 1.5rem; 
}

.fa-volume-up{
    margin-left: 200px;
}
.fa-volume-mute{
    display: none;
}

.sub-headings h2{
    font-family: 'Fugaz one', cursive;
    width: 25%;
    float: left;
    font-size: 1.7rem;
    font-weight: lighter;
    color: #EB6383;
}

.sub-headings span{
    color: blue;
}

/* -----------Deck of cards section containing style for cards and New Game button */

#deck-of-cards-container{
    width: 550px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card{
    background-color: white;
    height: 125px;
    width: 125px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    border: 1px solid #EB6383;   
}

.flip-card{
    position: relative;
    height: 100%;
    width: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    text-align: center;
}

/* Testing the flipping with CSS but it will later be done with Javascript */
.card:hover .flip-card{
    transform: rotateY(180deg);
}


.front-of-card, .back-of-card{
    position: absolute;
    width: 122px;
    height: 122px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.front-of-card{
    transform: rotateY(0deg);
    transition: 0.5s linear 0s;
    backface-visibility: hidden;
    background-image: url("../images/pngitem_worldmap-square.png");
    background-size: cover;
}

.back-of-card{
    transform: rotateY(180deg);
    transition: 0.5s linear 0s;
}

#new-game-button{
    font-family: 'Fugaz one', cursive;
    font-size: 1.5rem;
    width: 550px;
    margin-top: 1rem;
    color: white;
    background-color: #EB6383;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

#new-game-button:hover{
    background-color: rgba(206, 18, 62, 0.664);
    cursor: pointer;
    box-shadow: 5px 5px 7px #FA9191;
}

/* -------------------------------------------------------Footer Section */

.footer-text{
    font-size: 1.5rem;
    color: orange;
    text-align: center;
    margin-top: 1rem;
    text-shadow: 1px 1px 2px brown;
}

footer a{
    text-decoration: none;
    color: #511845;
}

footer a:hover{
    color: #900c3f;
    transition-duration: 1s;
}