/* -----------------------------------------------------------General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #68FFEE;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 550px;
  margin: auto;
}

.game-button{
  font-family: "Fugaz one", cursive;
  font-size: 1.5rem;
  width: 150px;
  color: #000000;
  background-color: #FF6879;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 5px;
  outline: none;
}

.game-button:hover{
  background-color: #ff687ad8;
  cursor: pointer;
  box-shadow: 5px 5px 7px #fa9191;
}

.game-button:active{
box-shadow: 1px 1px 2px #fa9191;
}

/*-------------------------------------------------------------------HEADER   */
.main-heading {
  font-family: "Fugaz one", cursive;
  text-align: center;
  color: #530609;
  text-shadow: 2px 2px white;
  letter-spacing: 2px;
  font-size: 3rem;
  margin-top: 0.5rem;
}

.sub-headings h2 {
  font-family: "Fugaz one", cursive;
  width: 33%;
  float: left;
  text-align: center;
  font-size: 1.5rem;
  font-weight: lighter;
  color: #530609;
}

.sub-headings span {
  color: #020091;
}

.time-left,
.matches-made {
  font-family: "Roboto", sans-serif;
}

.unmute-button {
  display: none;
}

/* -------------------------------------------Intro Section */

.intro-section-overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 100;
  background-color: #68FFEE;
}

.intro-background-image {
  margin-top: 3%;
  margin-left: 15%;
}

/* size the image on .intro-section-overlay*/
.intro-background-image img {
  width: 80%;
  height: 80%;
}

.intro-section-text {
  color: #530609;
  font-size: 1.5rem;
  font-weight: bolder;
  text-align: center;
  margin-top: 1rem;
}

.intro-section-play-button {
  width: 150px;
  margin: 1rem auto;
}

/* ---------Deck of cards section containing style for cards and New Game button */

#deck-of-cards-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  background-color: white;
  width: 120px;
  height: 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 8px auto;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  border: 1px solid #000000;
}

.flip-card {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  
}

/* This class will be added via Javascript to make the flipping work on-click */
.flipCard180 {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

.front-of-card,
.back-of-card {
  position: absolute;
  width: 118px;
  height: 118px;
  border-radius: 5px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.front-of-card {
  transform: rotateY(0deg);
  transition: 0.5s linear 0s;
  backface-visibility: hidden;
  background-image: url("../images/front-of-card-image.png");
  background-size: cover;
}

.back-of-card {
  transform: rotateY(180deg);
  transition: 0.5s linear 0s;
  background-size: cover;
  background-repeat: no-repeat;
}

.new game .reset-button{
    width: 150px;
    margin: 3rem auto;
}

/* -------------------------------------------------------Result Section */

#result-section {
  display: none;
}

.game-info-section-overlay,
.result-section-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.795);
  z-index: 100;
}

#result-section-popup {
  position: fixed;
  top: 160px;
  width: 600px;
  height: 400px;
  /* border: 2px solid #EB6383; 
    border-radius: 5px; */
  z-index: 200;
}

#result-section-popup-body {
  height: 300px;
  background-color: white;
  border-style: solid;
  border-width: 2px 2px 0px 2px;
  border-color: #eb6383;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.result-heading-text {
  font-family: "Fugaz one", cursive;
  font-size: 2rem;
  color: #530609;
  text-align: center;
}

.result-text {
    color: #530609;
  font-weight: bold;
  text-align: center;
  line-height: 2rem;
}

.result-section-popup-footer {
  height: 100px;
  background-color: #68FFEE;
  padding: 15px;
  border-style: solid;
  border-width: 0px 2px 2px 2px;
  border-color: #eb6383;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#result-for-success {
  display: none;
}


#play-again-button {
  display: none;
}

#result-for-failure {
  display: none;
}

#try-again-button {
  display: none;
}

/* -----Result Section Gifs copied from gifer.com */

.result-gif {
  width: 25%;
  height: 25%;
}

#result-section-popup-body img {
  margin-left: 37%;
  margin-top: 1%;
}

#result-for-failure img {
  margin-top: 5%;
}

.result-section-button {
  width: 150px;

  margin: 0 auto;
}

/* -----------------------------------------------------Game-info Section */

#game-info-section {
  display: none;
}

.game-info-container {
  width: 400px;
  height: 70%;
  background-color: white;
  margin: 6rem auto;
  border: 2px solid #900c3f;
  border-radius: 5px;
}

/* -------------------------------------------------------Footer Section */

.footer-text {
  font-size: 1.5rem;
  color: #090574;
  text-align: center;
  text-shadow: 1px 1px 2px white;
}

footer a {
  text-decoration: none;
  color: #990404;
}

footer a:hover {
  color: #900c3f;
  transition-duration: 1s;
}

/* --------------------------------------------------------Media Queries */

@media only screen and (max-width: 767px) {
  /* For Mobile Phones */

  .container {
    width: 100%;
  }

  .main-heading {
    font-size: 2rem;
  }
  .sub-headings h2 {
    font-size: 1.4rem;
    width: 50%;
    justify-content: space-evenly;
  }

  .sound-control h2{
     margin: 0.5rem auto;
  }

  .card {
    width: 75px;
    height: 75px;
    margin-top: 10px;
    margin-right: 5px;
    margin: 5px auto;
  }

  .front-of-card,
  .back-of-card {
    width: 73px;
    height: 73px;
  }

  #result-section-popup {
    width: 100%;
  }

  /* .result-text{
        line-height: 1rem;
    } */
}

@media only screen and (max-width: 320px) {
  .sub-headings h2 {
    font-size: 1.2rem;
  }

  .new-game-button {
    margin-top: 0.6rem;
  }

  .footer-text {
    margin-top: 0.6rem;
  }
}
